{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-login'}}) }}
<h2 class="form-login-heading">Create MelodyMunk Account</h2>

<div class="login-wrap">
    {{ form_widget(form.email, {'attr': { 'class': 'form-control', 'placeholder': 'Email' } }) }}
    <br>
    {{ form_widget(form.username, {'attr': { 'class': 'form-control', 'placeholder': 'Username' } }) }}
    <br>
    {{ form_widget(form.plainPassword.first, {'attr': { 'class': 'form-control', 'placeholder': 'Pasword' } }) }}
    <br>
    {{ form_widget(form.plainPassword.second, {'attr': { 'class': 'form-control', 'placeholder': 'Confirm Pasword' } }) }}

    <br>

    <button class="btn btn-theme btn-block" id="_submit" name="_submit" type="submit"><i class="fa fa-lock"></i> Create Account</button>
    <hr>

    <div class="registration">
        Already Have Account?<br/>
        <a class="" href="{{ path('fos_user_security_login') }}">
            Go to Login Page
        </a>
    </div>

</div>

{{ form_end(form) }}
