{% extends '::base.html.twig' %}


{% block title %}Room{% endblock %}


{% block stylesheets %} {% endblock %}


{% block body %}

<div class="row">

    <!-- START SECTION MIDDLE -->
    <div class="col-xs-12">

        <div class="row">


            <div class="col-lg-3 col-md-12 mb mt">
                <div class="steps">

                    <!-- ROOM INFO SECTION -->
                    <input class="mm_dj_info_header" value="Room Info" disabled>
                    <div id="profile-02">
                        <div class="user">
                            <h3>{{ room.name }}</h3>
                            <h4>Room Code: {{ room.roomCode }}</h4>
                        </div>
                    </div>

                    <label><a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Join%20us%20on%20melodymunk.com/room/{{ room.roomCode }}">Share on Twitter</a></label>




                    <div class="steps dropdown" style="width: 100%;">
                        <button class="mm_info_header_toggle dropdown-toggle" type="button" style="width: 100%;" data-toggle="dropdown">Dropdown Example
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu" style="width: 100%;">
                            <div class="steps">
                                <li><label for="op1">Request To Be Admin</label></li>
                                <li><label for="op2">Allow Explicit Songs</label></li>
                                <li><a data-toggle="modal" data-target="#mm_song_suggest"><label>Request Song</label></a></li>
                                <li><label>Leave Room</label></li>
                                <li><a href="{{ path('room_settings', {id: room.id}) }}"><label>Room Settings</label></a></li>

                                <li><label data-toggle="modal" data-target="#qr_code_modal">Get QR Code</label></li>
                            </div>
                        </ul>
                    </div>

                    {#<input id="op1" name="op1" type="checkbox" checked="">#}
                    {#<input id="op2" name="op2" type="checkbox" checked="">#}
                    {#<label for="op1">Request To Be Admin</label>#}
                    {#<label for="op2">Allow Explicit Songs</label>#}
                    {#<a data-toggle="modal" data-target="#mm_song_suggest"><label>Request Song</label></a>#}
                    {#<label>Leave Room</label>#}
                    {#<a href="{{ path('room_settings', {id: room.id}) }}"><label>Room Settings</label></a>#}

                    {#<label data-toggle="modal" data-target="#qr_code_modal">Get QR Code</label>#}


                    <!-- END ROOM INFO SECTION -->


                    <!-- ROOM OWNER SECTION -->
                    <input class="mm_dj_info_header" value="Room Owner Info" disabled>
                    <div id="profile-02">
                        <div class="user">
                            {% if room.roomOwner.imageURL %}
                                <img src="{{ room.roomOwner.imageURL }}" class="img-circle mm-img-av" width="80">
                            {% else %}
                                <img src="{{ asset('img/placeholders/default.jpeg') }}" class="img-circle mm-img-av" width="80">
                            {% endif %}
                            <h4>{{ room.roomOwner.firstName }} {{ room.roomOwner.lastName }}</h4>
                        </div>
                    </div>
                    <label>View Profile</label>
                    <label data-toggle="modal" data-target="#new_host_review_modal">Submit Host Review</label>

                    <!-- SPOTIFY SECTION -->
                    <input class="mm_dj_info_header" value="Control Spotify" disabled>
                    <label id="spotifyloginbutton">Log in with Spotify</label>
                    <label id="playbutton">Play a song</label>
                    <label id="pausebutton"> Pause a song</label>
                    <label id="raisevolumebutton">Raise Volume</label>
                    <label id="lowervolumebutton">Lower Volume</label>
                    <label id="nextsong">Next Song</label>
                    <label id="prevsong">Previous Song</label>

                </div>
            </div>

            <div class="col-xs-12 col-md-5 mt">


                <input class="mm_dj_info_header" value="Playlist Room Chat" disabled>

                <div class="content-panel">

                    <div class="mm_chat" style="height: 600px;">


                        {# Removed for dynamic chat. #}
                        {#<div class="desc">#}
                        {#<div class="thumb">#}
                        {#{% if room.roomOwner.imageURL %}#}
                        {#<img src="{{ room.roomOwner.imageURL }}" class="img-circle mm-chat-img-av">#}
                        {#{% else %}#}
                        {#<img src="{{ asset('img/placeholders/default.jpeg') }}" class="img-circle mm-chat-img-av">#}
                        {#{% endif %}#}
                        {#</div>#}
                        {#<div class="details">#}
                        {#<p class="chat-content">This is an example chat message in a room.</p>#}
                        {#<p class="chat-time">2 Minutes Ago</p>#}
                        {#</div>#}
                        {#</div>#}

                    </div>


                    <div id="chat_form" class="form-group">
                        <div class="col-xs-9">
                            <input id="chat_form_message" type="text" class="form-control round-form no-margin" placeholder="Room Chat Message Content...." />
                        </div>
                        <div class="col-xs-3">
                            <button id="chat_form_submit" class="btn btn-block btn_edit_profile">Send Message</button>
                        </div>

                        <input id="chat_room_id" class="hidden" value="{{ room.roomCode }}">
                        <input id="chat_room_username" class="hidden" value="{{ app.user.username }}">

                    </div>


                    <div class="clearfix"></div>

                </div>


            </div>

            <div class="col-xs-12 col-md-4 col-lg-4 mb mt">
                <div class="col-xs-12">
                    <input class="mm_dj_info_header" value="Current Song" disabled>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="content-panel pn">
                                <div id="spotify">
                                    <div class="sp-title">
                                        <h3>Bank Account</h3>
                                        <h4>21 Savage</h4>
                                    </div>
                                    <div class="play">
                                        <i class="fa fa-play-circle"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="mm_reported_users" class="row hidden">
                        <div class="col-xs-12">
                            <input class="mm_dj_info_header" value="Reported Users" disabled>

                            <div class="content-panel ds">

                                <div class="desc">
                                    <div class="thumb">
                                        <img class="img-circle" src="{{ asset('img/placeholders/default.jpeg') }}" width="35px" height="35px" align="">
                                    </div>
                                    <div class="details">
                                        <p><a href="#" class="mm_orange">{{ app.user.firstName }} {{ app.user.lastName }}</a><br>
                                            <muted>Available</muted>
                                        </p>
                                    </div>

                                    <div class="dropdown">
                                        <a class="mm_more_info pull-right" data-toggle="dropdown"><i class="fa fa-chevron-down"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="#">Remove User</a></li>
                                            <li><a href="#">Archive Report</a></li>

                                        </ul>
                                    </div>

                                </div>


                            </div>
                        </div>

                    </div>


                    <input class="mm_dj_info_header" value="Active Users" disabled>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="content-panel ds">

                                <div class="desc">
                                    <div class="thumb">
                                        <img class="img-circle" src="{{ asset('img/placeholders/default.jpeg') }}" width="35px" height="35px" align="">
                                    </div>
                                    <div class="details">
                                        <p><a href="#" class="mm_orange">{{ app.user.firstName }} {{ app.user.lastName }}</a><br>
                                            <muted>Available</muted>
                                        </p>
                                    </div>

                                    <div class="dropdown">
                                        <a class="mm_more_info pull-right" data-toggle="dropdown"><i class="fa fa-chevron-down"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-right">

                                            <li><a class="mm_report_user_btn">Report User</a></li>

                                            <li><a href="#">Promote to Admin</a></li>
                                        </ul>
                                    </div>

                                </div>

                                <div class="desc">
                                    <div class="thumb">
                                        <img class="img-circle" src="{{ asset('img/placeholders/default.jpeg') }}" width="35px" height="35px" align="">
                                    </div>
                                    <div class="details">
                                        <p><a href="#" class="mm_orange">{{ app.user.firstName }} {{ app.user.lastName }}</a><br>
                                            <muted>Available</muted>
                                        </p>
                                    </div>
                                    <div class="dropdown">
                                        <a class="mm_more_info pull-right" data-toggle="dropdown"><i class="fa fa-chevron-down"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-right">

                                            <li><a class="mm_report_user_btn">Report User</a></li>

                                            <li><a href="#">Promote to Admin</a></li>
                                        </ul>
                                    </div>

                                </div>

                            </div>

                            <input class="mm_dj_info_header" value="Search and Add Songs To Queue" disabled>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="content-panel ds">
                                        <input id="search" type="text" name="search" placeholder="Search..">
                                        <div id="mm_search_dropdown" class="hidden">
                                            <div id="mm_search_results" class="steps">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>


                </div>
            </div>
        </div>


        {% endblock %}


        {% block modals %}

            <div class="modal fade" id="mm_song_suggest" tabindex="-1" role="dialog" aria-labelledby="Song Suggestion" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Suggest a Song</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 col-sm-3 control-label">Song Name</label>
                                    <div class="col-sm-9">
                                        <input id="mm_song_rec_name" type="text" class="form-control round-form" placeholder="Song Name...">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 col-sm-3 control-label">Song Artist</label>
                                    <div class="col-sm-9">
                                        <input id="mm_song_rec_artist" type="text" class="form-control round-form" placeholder="Song Artist...">
                                    </div>
                                </div>
                            </form>


                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer">
                            <button id="submit_song_suggestion" type="button" class="btn btn-orange">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="new_host_review_modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">Review Playlist Room Host</h4>
                        </div>
                        <div class="modal-body">

                            <input type="hidden" id="mm_room_id" value="{{ room.id }}"/>

                            <form class="form-horizontal" method="get">

                                <p class="text-center">Leave a review for the playlist host below.</p>

                                <div class="form-group">
                                    <div class="col-xs-10 col-xs-offset-1">
                                        <textarea id="mm_host_review_content" class="form-control mm_orange" rows="3" placeholder="Host Review Content..."></textarea>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id="mm_host_review_submit" type="button" class="btn btn-orange">Submit Review</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="qr_code_modal" tabindex="-1" role="dialog" aria-labelledby="QR Code for sharing" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">QR Code for Room {{ room.name|e('html') }}</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img id="qr" src="{{ path('generate_qr', {room_code: room.roomCode}) }}" width="300px">
                        </div>
                        <div class="modal-footer">
                            <a href="{{ path('print_qr', {room_code: room.roomCode}) }}" class="btn btn-primary" target="_blank">Print Code</a>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}


        {% block javascripts %}

            <script src="{{ asset('js/visualize/main.js') }}"></script>

            <script src="{{ asset('melody_munk/Pages/room.js') }}"></script>

            <script src="{{ asset('melody_munk/Pages/chat.js') }}"></script>

        {% endblock %}
