{% extends '::base.html.twig' %}


{% block title %}Room{% endblock %}


{% block stylesheets %} {% endblock %}

{% block wholebody %}
<div id = "room">

    <ul class = "nav nav-tabs device-small" >
        <li  class ="active"><a data-toggle="tab" href="#roomInfo">Room Info</a></li>
        <li ><a data-toggle="tab" href="#chat">Chat</a></li>
        <li ><a data-toggle="tab" href="#playlist">Playlist</a></li>
    </ul>

    <div class="row tab-content">

        <div  class="tab-pane active col col-xs-12 col-sm-4" id="roomInfo"> <!--room info, mb mt-->
            <div class="steps">

                <!-- ROOM INFO SECTION -->
                <input class="mm_dj_info_header" value="Room Info" disabled>
                <div id="profile-02">
                    <div class="user">
                        <h3>{{ room.name }}</h3>
                        <h4>{{ room.description }}</h4>
                        <h4>Room Code: {{ room.roomCode }}</h4>
                    </div>
                </div>

                <input id="op1" name="op1" type="checkbox" checked="">
                <label for="op1">Request To Be Admin</label>
                <label>Request Song</label>
                <label data-toggle="modal" data-target="#roomSettings">Room Settings</label>
                {#<li><a href="{{ path('room_settings', {id: room.id}) }}"><label>Room Settings</label></a></li>#}


                <label data-toggle="modal" data-target="#qr_code_modal">Get QR Code</label>


                <label>Leave Room</label>
                <!-- END ROOM INFO SECTION -->

                <!-- ROOM OWNER SECTION -->
                <input class="mm_dj_info_header" value="Room Owner Info" disabled>
                <div id="profile-02">
                    <div class="user">
                        {% if room.roomOwner.imageURL %}
                            <img src="{{ room.roomOwner.imageURL }}" class="img-circle mm-img-av" width="80">
                        {% else %}
                            <img src="{{ asset('img/placeholders/default.jpeg') }}" class="img-circle mm-img-av" width="80">
                        {% endif %}
                        <h4>{{ room.roomOwner.firstName }} {{ room.roomOwner.lastName }}</h4>
                    </div>
                </div>
                <label id="spotifyloginbutton">Log in with Spotify</label>
                <label>View Profile</label>
                <label data-toggle="modal" data-target="#new_host_review_modal">Submit Host Review</label>

                <input class="mm_dj_info_header" value="Control Spotify Playback" disabled>
                <label id="playbutton">Play a song</label>
                <label id="pausebutton"> Pause a song</label>
                <label id="raisevolumebutton">Raise Volume</label>
                <label id="lowervolumebutton">Lower Volume</label>
                <label id="nextsong">Next Song</label>
                <label id="prevsong">Previous Song</label>
                <label id="fastforward">Fast Forward</label>
            </div>
        </div> <!--end room info-->

        <div  class="tab-pane col-xs-12 col-sm-4" id="chat"> <!--chat, mt-->

            <input class="mm_dj_info_header" value="Playlist Room Chat" disabled>

            <div class="content-panel">

                <div class="mm_chat" style="height: 600px;">


                    {# Removed for dynamic chat. #}
                    {#<div class="desc">#}
                    {#<div class="thumb">#}
                    {#{% if room.roomOwner.imageURL %}#}
                    {#<img src="{{ room.roomOwner.imageURL }}" class="img-circle mm-chat-img-av">#}
                    {#{% else %}#}
                    {#<img src="{{ asset('img/placeholders/default.jpeg') }}" class="img-circle mm-chat-img-av">#}
                    {#{% endif %}#}
                    {#</div>#}
                    {#<div class="details">#}
                    {#<p class="chat-content">This is an example chat message in a room.</p>#}
                    {#<p class="chat-time">2 Minutes Ago</p>#}
                    {#</div>#}
                    {#</div>#}

                </div>


                <div id="chat_form" class="form-group">
                    <div class="col-xs-9">
                        <input id="chat_form_message" type="text" class="form-control round-form no-margin" placeholder="Room Chat Message Content...." />
                    </div>
                    <div class="col-xs-3">
                        <button id="chat_form_submit" class="btn btn-block btn_edit_profile">Send Message</button>
                    </div>

                    <input id="chat_room_id" class="hidden" value="{{ room.roomCode }}">
                    <input id="chat_room_username" class="hidden" value="{{ app.user.username }}">

                </div>


                <div class="clearfix"></div>


            </div>

        </div>

        <div  class="tab-pane col-xs-12 col-sm-4" id="playlist"> <!--playlist, mb mt-->

                    <input class="mm_dj_info_header" value="Current Song" disabled>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="content-panel pn">
                                <div id="spotify">
                                    <div class="sp-title">
                                        <h3>Bank Account</h3>
                                        <h4>21 Savage</h4>
                                    </div>
                                    <div class="play">
                                        <i class="fa fa-play-circle"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="mm_reported_users" class="row hidden">
                        <div class="col-xs-12">
                            <input class="mm_dj_info_header" value="Reported Users" disabled>

                            <div class="content-panel ds">

                                <div class="desc">
                                    <div class="thumb">
                                        <img class="img-circle" src="{{ asset('img/placeholders/default.jpeg') }}" width="35px" height="35px" align="">
                                    </div>
                                    <div class="details">
                                        <p><a href="#" class="mm_orange">{{ app.user.firstName }} {{ app.user.lastName }}</a><br>
                                            <muted>Available</muted>
                                        </p>
                                    </div>

                                    <div class="dropdown">
                                        <a class="mm_more_info pull-right" data-toggle="dropdown"><i class="fa fa-chevron-down"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="#">Remove User</a></li>
                                            <li><a href="#">Archive Report</a></li>

                                        </ul>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>


            <input class="mm_dj_info_header" value="Active Users" disabled>

            <div class="row">
                <div class="col-xs-12">
                    <div class="content-panel ds">

                        <div class="desc">
                            <div class="thumb">
                                <img class="img-circle" src="{{ asset('img/placeholders/default.jpeg') }}" width="35px" height="35px" align="">
                            </div>
                            <div class="details">
                                <p><a href="#" class="mm_orange">{{ app.user.firstName }} {{ app.user.lastName }}</a><br>
                                    <muted>Available</muted>
                                </p>
                            </div>

                            <div class="dropdown">
                                <a class="mm_more_info pull-right" data-toggle="dropdown"><i class="fa fa-chevron-down"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right">

                                    <li><a class="mm_report_user_btn">Report User</a></li>

                                    <li><a href="#">Promote to Admin</a></li>
                                </ul>
                            </div>

                        </div>


                        <input class="mm_dj_info_header" value="Search and Add Songs To Queue" disabled>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="content-panel ds">
                                    <input id="search" type="text" name="search" placeholder="Search..">
                                    <div id="mm_search_dropdown" class="hidden">
                                        <div id="mm_search_results" class="steps">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>


            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block modals %}

    <div class="modal fade" id="mm_song_suggest" tabindex="-1" role="dialog" aria-labelledby="Song Suggestion" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Suggest a Song</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 col-sm-3 control-label">Song Name</label>
                            <div class="col-sm-9">
                                <input id="mm_song_rec_name" type="text" class="form-control round-form" placeholder="Song Name...">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-sm-3 control-label">Song Artist</label>
                            <div class="col-sm-9">
                                <input id="mm_song_rec_artist" type="text" class="form-control round-form" placeholder="Song Artist...">
                            </div>
                        </div>
                    </form>


                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button id="submit_song_suggestion" type="button" class="btn btn-orange">Submit</button>
                    >>>>>>> dev
                </div>


            </div>
        </div>
        <<<<<<< HEAD

    </div>


    <div class="modal fade" id="qr_code_modal" tabindex="-1" role="dialog" aria-labelledby="QR Code for sharing" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">QR Code for Room {{ room.name|e('html') }}</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="qr" src="{{ path('generate_qr', {room_code: room.roomCode}) }}" width="300px">
                </div>
                <div class="modal-footer">
                    <a href="{{ path('print_qr', {room_code: room.roomCode}) }}" class="btn btn-primary" target="_blank">Print Code</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="roomSettings" role="dialog"> <!--room settings content-->
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    hi lets put settings here
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}

    <script src="{{ asset('js/visualize/main.js') }}"></script>

    <script src="{{ asset('melody_munk/Pages/room.js') }}"></script>

    <script src="{{ asset('melody_munk/Pages/chat.js') }}"></script>

{% endblock %}
