{% extends '::base.html.twig' %}


{% block title %}Room{% endblock %}


{% block stylesheets %} {% endblock %}


{% block body %}

    <div class="row">

        <!-- START SECTION MIDDLE -->
        <div class="col-xs-10 ">


            <!-- START Playlist Results -->
            <div class="row">


                <div class="col-lg-3 col-md-3 col-sm-3 mb mt">
                    <div class="steps">

                        <!-- ROOM INFO SECTION -->
                        <input class="mm_dj_info_header" value="Room Info" disabled>
                        <div id="profile-02">
                            <div class="user">
                                <h3>{{ room.name }}</h3>
                                <h4>Room Code: {{ room.roomCode }}</h4>
                            </div>
                        </div>

                        <input id="op1" name="op1" type="checkbox" checked="">
                        <label for="op1">Request To Be Admin</label>
                        <label>Request Song</label>
                        <label>Leave Room</label>
                        <!-- END ROOM INFO SECTION -->


                        <!-- ROOM OWNER SECTION -->
                        <input class="mm_dj_info_header" value="Room Owner Info" disabled>
                        <div id="profile-02">
                            <div class="user">
                                <img src="{{ asset('img/placeholders/default.jpeg') }}" class="img-circle mm-img-av">
                                <h4>DJ SHERMAN</h4>
                            </div>
                        </div>
                        <label>View Profile</label>
                        <label data-toggle="modal" data-target="#new_host_review_modal">Submit Host Review</label>

                    </div>
                </div>


                <div class="clearfix"></div>


            </div>
            <!-- END Playlist Results -->


        </div>
        <!-- END SECTION MIDDLE -->


    </div><! --/row -->


{% endblock %}


{% block modals %}

    <div class="modal fade" id="new_host_review_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Review Playlist Room Host</h4>
                </div>
                <div class="modal-body">

                    <input type="hidden" id="mm_room_id" value="{{ room.id }}"/>

                    <form class="form-horizontal" method="get">

                        <p class="text-center">Leave a review for the playlist host below.</p>

                        <div class="form-group">
                            <div class="col-xs-10 col-xs-offset-1">
                                <textarea id="mm_host_review_content" class="form-control mm_orange" rows="3" placeholder="Host Review Content..."></textarea>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="mm_host_review_submit" type="button" class="btn btn-orange">Submit Review</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}

    <script src="{{ asset('melody_munk/Pages/room.js') }}"></script>

{% endblock %}