{% extends '::base.html.twig' %}


{% block title %}Room{% endblock %}


{% block stylesheets %} {% endblock %}


{% block body %}

    <div class="row">

        <!-- START SECTION MIDDLE -->
        <div class="col-xs-12">

            <div class="row">


                <div class="col-lg-3 col-md-12 mb mt">
                    <div class="steps">

                        <!-- ROOM INFO SECTION -->
                        <input class="mm_dj_info_header" value="Room Info" disabled>
                        <div id="profile-02">
                            <div class="user">
                                <h3>{{ room.name }}</h3>
                                <h4>Room Code: {{ room.roomCode }}</h4>
                            </div>
                        </div>

                        <input id="op1" name="op1" type="checkbox" checked="">
                        <label for="op1">Request To Be Admin</label>
                        <label>Request Song</label>
                        <label>Leave Room</label>
                        <a href="{{ path('room_settings', {id: room.id}) }}"><label>Room Settings</label></a>

                        <label data-toggle="modal" data-target="#qr_code_modal">Get QR Code</label>

                        <!-- END ROOM INFO SECTION -->


                        <!-- ROOM OWNER SECTION -->
                        <input class="mm_dj_info_header" value="Room Owner Info" disabled>
                        <div id="profile-02">
                            <div class="user">
                                {% if room.roomOwner.imageURL %}
                                    <img src="{{ room.roomOwner.imageURL }}" class="img-circle mm-img-av" width="80">
                                {% else %}
                                    <img src="{{ asset('img/placeholders/default.jpeg') }}" class="img-circle mm-img-av" width="80">
                                {% endif %}
                                <h4>{{ room.roomOwner.firstName }} {{ room.roomOwner.lastName }}</h4>
                            </div>
                        </div>
                        <label>View Profile</label>
                        <label data-toggle="modal" data-target="#new_host_review_modal">Submit Host Review</label>

                    </div>
                </div>

                <div class="col-xs-12 col-md-5 mt">

                    <input class="mm_dj_info_header" value="Playlist Room Chat" disabled>

                    <div class="content-panel">

                        <div class="mm_chat" style="height: 600px;">

                            {# Removed for dynamic chat. #}
                            {#<div class="desc">#}
                                {#<div class="thumb">#}
                                    {#{% if room.roomOwner.imageURL %}#}
                                        {#<img src="{{ room.roomOwner.imageURL }}" class="img-circle mm-chat-img-av">#}
                                    {#{% else %}#}
                                        {#<img src="{{ asset('img/placeholders/default.jpeg') }}" class="img-circle mm-chat-img-av">#}
                                    {#{% endif %}#}
                                {#</div>#}
                                {#<div class="details">#}
                                    {#<p class="chat-content">This is an example chat message in a room.</p>#}
                                    {#<p class="chat-time">2 Minutes Ago</p>#}
                                {#</div>#}
                            {#</div>#}

                        </div>

                        <hr class="no-padding mt-0" style="margin-bottom: 7.5px; "/>

                        <div class="col-xs-12">
                            <div class="row">

                                <div id="chat_form" class="form-group">
                                    <div class="col-xs-9">
                                        <input id="chat_form_message" type="text" class="form-control round-form no-margin" placeholder="Room Chat Message Content...." />
                                    </div>
                                    <div class="col-xs-3">
                                        <button id="chat_form_submit" class="btn btn-block btn_edit_profile">Send Message</button>
                                    </div>

                                    <input id="chat_room_id" class="hidden" value="{{ room.roomCode }}">
                                    <input id="chat_room_username" class="hidden" value="test_name">

                                </div>



                            </div>
                        </div>

                        <div class="clearfix"></div>

                    </div>

                </div>

                <div class="col-xs-12 col-md-4 mb mt">
                    <div class="col-xs-12">
                        <input class="mm_dj_info_header" value="Current Song" disabled>

                        <div class="row">
                            <div class="col-xs-12">
                            <div class="content-panel pn">
                                <div id="spotify">
                                    <div class="sp-title">
                                        <h3>Bank Account</h3>
                                        <h4>21 Savage</h4>
                                    </div>
                                    <div class="play">
                                        <i class="fa fa-play-circle"></i>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="row mb-0">
                            <div class="col-xs-12 mb-0">
                                <div class="mm_visualize_panel">
                                    <canvas id="canvas" width="397" height="150" style="margin-bottom: -7px;"></canvas>
                                    <audio src="{{ asset('js/visualize/assets/sample.mp3') }}" id="audio" style="margin-bottom: -6px;" controls>HTML5 Audio element not supported</audio>
                                </div>

                            </div>
                        </div>


                        <input class="mm_dj_info_header" value="Active Users" disabled>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="content-panel ds">

                                    <div class="desc">
                                        <div class="thumb">
                                            <img class="img-circle" src="{{ asset('img/placeholders/default.jpeg') }}" width="35px" height="35px" align="">
                                        </div>
                                        <div class="details">
                                            <p><a href="#" class="mm_orange">{{ app.user.firstName }} {{ app.user.lastName }}</a><br>
                                                <muted>Available</muted>
                                            </p>
                                        </div>

                                        <div class="dropdown">
                                            <a class="mm_more_info pull-right" data-toggle="dropdown"><i class="fa fa-chevron-down"></i></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="#">Report User</a></li>
                                                <li><a href="#">Promote to Admin</a></li>
                                            </ul>
                                        </div>

                                    </div>

                                    <div class="desc">
                                        <div class="thumb">
                                            <img class="img-circle" src="{{ asset('img/placeholders/default.jpeg') }}" width="35px" height="35px" align="">
                                        </div>
                                        <div class="details">
                                            <p><a href="#" class="mm_orange">{{ app.user.firstName }} {{ app.user.lastName }}</a><br>
                                                <muted>Available</muted>
                                            </p>
                                        </div>

                                        <div class="dropdown">
                                            <a class="mm_more_info pull-right" data-toggle="dropdown"><i class="fa fa-chevron-down"></i></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="#">Report User</a></li>
                                                <li><a href="#">Promote to Admin</a></li>
                                            </ul>
                                        </div>
\                                    </div>


                                    <div class="desc">
                                        <div class="thumb">
                                            <img class="img-circle" src="{{ asset('img/placeholders/default.jpeg') }}" width="35px" height="35px" align="">
                                        </div>
                                        <div class="details">
                                            <p><a href="#" class="mm_orange">{{ app.user.firstName }} {{ app.user.lastName }}</a><br>
                                                <muted>Available</muted>
                                            </p>
                                        </div>
                                        <div class="dropdown">
                                            <a class="mm_more_info pull-right" data-toggle="dropdown"><i class="fa fa-chevron-down"></i></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="#">Report User</a></li>
                                                <li><a href="#">Promote to Admin</a></li>
                                            </ul>
                                        </div>

                                    </div>

                                    <div class="desc">
                                        <div class="thumb">
                                            <img class="img-circle" src="{{ asset('img/placeholders/default.jpeg') }}" width="35px" height="35px" align="">
                                        </div>
                                        <div class="details">
                                            <p><a href="#" class="mm_orange">{{ app.user.firstName }} {{ app.user.lastName }}</a><br>
                                                <muted>Available</muted>
                                            </p>
                                        </div>
                                        <div class="dropdown">
                                            <a class="mm_more_info pull-right" data-toggle="dropdown"><i class="fa fa-chevron-down"></i></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="#">Report User</a></li>
                                                <li><a href="#">Promote to Admin</a></li>
                                            </ul>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>



                </div>


            </div>


        </div>
        <!-- END SECTION MIDDLE -->


    </div><! --/row -->


{% endblock %}


{% block modals %}

    <div class="modal fade" id="new_host_review_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Review Playlist Room Host</h4>
                </div>
                <div class="modal-body">

                    <input type="hidden" id="mm_room_id" value="{{ room.id }}"/>

                    <form class="form-horizontal" method="get">

                        <p class="text-center">Leave a review for the playlist host below.</p>

                        <div class="form-group">
                            <div class="col-xs-10 col-xs-offset-1">
                                <textarea id="mm_host_review_content" class="form-control mm_orange" rows="3" placeholder="Host Review Content..."></textarea>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="mm_host_review_submit" type="button" class="btn btn-orange">Submit Review</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="qr_code_modal" tabindex="-1" role="dialog" aria-labelledby="QR Code for sharing" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">QR Code for Room {{ room.name|e('html') }}</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="qr" src="{{ path('generate_qr', {room_code: room.roomCode}) }}" width="300px">
                </div>
                <div class="modal-footer">
                    <a href="{{ path('print_qr', {room_code: room.roomCode}) }}" class="btn btn-primary" target="_blank">Print Code</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}

    <script src="{{ asset('js/visualize/main.js') }}"></script>

    <script src="{{ asset('melody_munk/Pages/room.js') }}"></script>

    <script src="{{ asset('melody_munk/Pages/chat.js') }}"></script>

{% endblock %}